<div class="m-submit">
  <form method="POST" action="//formspree.io/dan.chilton@gmail.com">
    <textarea name="submission" placeholder="Type your quote here, big boy" rows="3"></textarea>
    <input type="hidden" name="_subject" value="New Shannonism submission" />
    <input type="hidden" name="_next" value="//shannonisms.com/#!/thanks" />
    <input type="text" name="_gotcha" style="display:none" />
    <a href="/">Cancel</a>
    <input type="submit" value="Submit your quote" />
  </form>
</div>