$m : '.m-footer';

// footer module
#{$m} {
  padding: 1rem;
  font-size: .8rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: $color-quote;
    li {
      display: inline-block;
      margin-left: 1rem;
      @media(min-width: 400px) {
        margin-left: 1.5rem;
      }
      &:first-child {
        margin: 0;
      }
    }
  }
}