$m : '.m-header';

// main page header
#{$m} {
  background: #FFF url('/img/busch.jpg') no-repeat center center;
  background-size: cover;
  padding-bottom: 10rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: block;
  @media(min-width: 800px) {
    padding-bottom: 12rem;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
  }
  & > * {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-align: center;
    z-index: 100;
  }
  h1 {
    font-size: 14vw;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
  }
  h5 {
    font-weight: 200;
    font-size: 1rem;
    margin: 0 1rem;
    line-height: 1;
    @media(min-width: 400px) { font-size: 1.2rem; }
    @media(min-width: 900px) { font-size: 1.4rem; }
    @media(min-width: 1100px) { font-size: 1.5rem; }
  }
}

// little shannon
#{$m} .shannon {
  width: 250px;
  height: 200px;
  background: transparent url('/img/shannon.png') no-repeat 0 0;
  background-size: cover;
  position: absolute;
  bottom: -10px;
  right: 10px;
  @media(min-width: 600px) {
    width: 300px;
    height: 250px;
  }
  @media(min-width: 800px) {
    width: 400px;
    height: 350px;
  }
}

// animate
.tossing {
  animation-name: tossing;
  animation-duration: 2s; 
  animation-iteration-count: infinite;
}

@keyframes tossing {
  0% { transform: rotate(-1deg); }
  50% { transform: rotate(1deg); }
  100% { transform: rotate(-1deg); }           
}