$m : '.m-outdated';

// outdated banner for IE9 <
#{$m} {
  background-color: #DC0000;
  color: #FFF;
  margin: 0;
  padding: 1rem;
  text-align: center;
  a {
    border-bottom: 1px dotted #FFF;
  }
}