$m : '.m-quote';

// the main quote area
#{$m} {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: $color-quote;
  margin: 0 auto;
  background-color: #FFF;
  @media(min-width: 500px) {
    padding: 2rem 3rem;
  }
  @media(min-width: 600px) {
    font-size: 1.75rem;
  }
  @media(min-width: 800px) {
    font-size: 2rem;
    padding: 3rem 5rem;
  }
  p:first-child,
  p:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}