$m : '.m-submit';

// submission goodies
#{$m} {
  textarea {
    border: 0;
    display: block;
    width: 100%;
    margin: 0 auto 1rem;
    text-align: center;
  }
  a,
  input[type="submit"] {
    background-color: $color-background;
    display: inline-block;
    border: 0;
    padding: .5rem 1rem;
    font-size: 1rem;
    margin: 0;
    max-height: 48px;
    vertical-align: middle;
    border-radius: 0;
  }
}