html {
  font-family: $font-stack;
  font-size: 16px;
  @media(min-width: 300px) { font-size: 17px; }
  @media(min-width: 400px) { font-size: 18px; }
  @media(min-width: 500px) { font-size: 19px; }
  @media(min-width: 600px) { font-size: 20px; }
  @media(min-width: 700px) { font-size: 21px; }
  line-height: 1.4;
  box-sizing: border-box;
  background-color: #DDD;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}