@import 'vendor/normalize';

html {
  background: #FFF url('/img/busch.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
}

body {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
}